<!doctype html>
<html>
   <body>

      <h1>Hello {{ name }}!</h1>
      <p>The term <b>web templating system</b> refers to designing an HTML script in which the variable data can be inserted dynamically. 
        A web template system comprises of a template engine,some kind of data source and a template processor.
        Flask uses jinga2 template engine. A web template contains HTML syntax interspersed placeholders for variables and expressions (in these case Python expressions)
        which are replaced values when the template is rendered.
      </p>

   </body>
</html>
